<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Name="FMS UPDATE MANAGER Beta"
           Manufacturer="CNRPG"
           Version="1.0.4"
           UpgradeCode="3EFC6484-8AD8-4D4E-BFAA-4ED17A58B5A6"
           Language="1033">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon" SourceFile="D:\HugoMoveData\User\16832\Desktop\FMS UPDATE MANAGER\assets\travel_airplane.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <util:CloseApplication Id="RequireAppClosed" Target="FMS_UPDATE_MANAGER.exe" Description="Detected FMS UPDATE MANAGER is running. Please close it before continuing installation." PromptToContinue="yes" CloseMessage="yes" RebootPrompt="no" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="FMS UPDATE MANAGER Beta" />
    </StandardDirectory>
    <Feature Id="MainFeature" Title="FMS UPDATE MANAGER Beta" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentGroupRef Id="StartMenuShortcutComponents" />
      <Feature Id="DesktopShortcutFeature" Title="Desktop Shortcut" Description="Create desktop shortcut icon" Level="1" Display="expand">
        <ComponentGroupRef Id="DesktopShortcutComponents" />
      </Feature>
    </Feature>
    <ui:WixUI Id="WixUI_FeatureTree" InstallDirectory="INSTALLFOLDER" />
  </Package>
  <Fragment>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="FMS UPDATE MANAGER Beta" />
    </StandardDirectory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="StartMenuShortcutComponents">
      <Component Id="StartMenuShortcutComponent" Directory="ProgramMenuDir" Guid="F58CF217-63CF-4347-AD0A-8D4BA9A49B05">
        <Shortcut Id="StartMenuShortcut" Directory="ProgramMenuDir" Name="FMS UPDATE MANAGER Beta" Description="FMS UPDATE MANAGER Beta" Icon="AppIcon" WorkingDirectory="INSTALLFOLDER" Target="[INSTALLFOLDER]FMS_UPDATE_MANAGER.exe" />
        <RemoveFolder Id="RemoveProgramMenuDir" Directory="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKLM" Key="Software\CNRPG\FMS UPDATE MANAGER Beta" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="DesktopShortcutComponents">
      <Component Id="DesktopShortcutComponent" Directory="DesktopFolder" Guid="6CF2E632-7FD2-4ABE-9850-9DA6EE2C107B">
        <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="FMS UPDATE MANAGER Beta" Description="FMS UPDATE MANAGER Beta" Icon="AppIcon" WorkingDirectory="INSTALLFOLDER" Target="[INSTALLFOLDER]FMS_UPDATE_MANAGER.exe" />
        <RegistryValue Root="HKLM" Key="Software\CNRPG\FMS UPDATE MANAGER Beta" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="D:\HugoMoveData\User\16832\Desktop\FMS UPDATE MANAGER\dist_test\FMS_UPDATE_MANAGER\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
